.logout-btn {
  @apply bg-white rounded p-3 w-24 relative text-sm font-semibold text-start;
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 10px;
    background-color: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
  }
}
